<main class="lista-vacantes">
  <h2>Lista De Vacantes</h2>

  <div class="vacante">
    <div class="caja">
      <h3>Facebook</h3>
      <p class="puesto">React Development</p>
    </div>

    <div class="caja">
      <p class="etiqueta">Ubicaci贸n</p>
      <p class="nombre">Remoto</p>
    </div>

    <div class="caja">
      <p class="etiqueta">Contrato</p>
      <p class="nombre contrato">Tiempo Completo</p>
    </div>

    <div class="caja centrar-vertical">
      <a href="#" class="btn btn-verde">Informaci贸n</a>
    </div>
  </div>

  <div class="vacante">
    <div class="caja">
      <h3>AirBNB</h3>
      <p class="puesto">Node Development</p>
    </div>

    <div class="caja">
      <p class="etiqueta">Ubicaci贸n</p>
      <p class="nombre">Remoto</p>
    </div>

    <div class="caja">
      <p class="etiqueta">Contrato</p>
      <p class="nombre contrato">Tiempo Completo</p>
    </div>

    <div class="caja centrar-vertical">
      <a href="#" class="btn btn-verde">Informaci贸n</a>
    </div>
  </div>

</main>